<h2>作成した解答</h2>
<br>
   <P>@comment.answers.ans1</P>
 

<div　class="button_side">
	<%= button_to "承認", {controller: 'answers', action: 'index'},{method: :get} %>   
 <%= button_to "編集", {controller: 'answers', action: 'edit'}, {method: :get, params: {id: @answer,year: @answer.year,jirei: @answer.jirei}} %>   
 <%= button_to '削除', answer_path(@answer.id), :method => :delete, :confirm => '本当に取り消しますか？' %>
</div>    
