<h2>評価結果詳細</h2>
<br>
<% @comments.each do |f| %>
  <% if(f.answer.year == 30 )then  %>
    <% if(f.answer.jirei == 1)then  %>
       <p><%= f.answer.ans1 %></p><br>


       <p><%= f.ans1 %></p><br>

    <% elsif(f.answer.jirei == "2")then  %>
    <% elsif(f.answer.jirei == "3")then  %>
    <% elsif(f.answer.jirei == "4")then  %>
    <% end %>
  <% elsif(f.answer.year == "29")then  %>
    <% if(f.answer.jirei == "1")then  %>
    <% elsif(f.answer.jirei == "2")then  %>
    <% elsif(f.answer.jirei == "3")then  %>
    <% elsif(f.answer.jirei == "4")then  %>
    <% end %>
  <% elsif(f.answer.year == "28")then  %>
    <% if(f.answer.jirei == "1")then  %>
    <% elsif(f.answer.jirei == "2")then  %>
    <% elsif(f.answer.jirei == "3")then  %>
    <% elsif(f.answer.jirei == "4")then  %>
    <% end %>
  <% elsif(f.answer.year == "27")then  %>
    <% if(f.answer.jirei == "1")then  %>
    <% elsif(f.answer.jirei == "2")then  %>
    <% elsif(f.answer.jirei == "3")then  %>
    <% elsif(f.answer.jirei == "4")then  %>
    <% end %>
  <% end %>




<% end %>
 

