  <section class = "blog">
     <h2 class="blog-headline">『学びの庭』の特徴</h2>
     <div class="blog-box">
       <div class ="blog-item clearfix">
           <section class = "blog-text">
                  ・ネットで誰でも効果的に勉強ができます。<br>
		・過去問の解答を何度も作成して成長の過程を実感できます<br>
		・作成した回答をメンバーに評価してもらうことができます<br>
		・反対にメンバーの解答を評価することで出題者の視点から問題を考察<br>
		  　できます。<br>
		・事例企業の分析により２次試験の解答作成に必要な思考ロジックの<br>
		  　トレーニングを行うことができます。  
           </section>
       </div>
     　<h2 class="blog-headline">対象者(以下のような方、是非ご利用下さい。)</h2>
       <div class ="blog-item clearfix">
           <br>
           <section class = "blog-text">
                  ・現在中小企業診断士の勉強をしている方<br>
                ・中小企業診断士の勉強始めようとしている方<br>
                ・セカンドキャリア開発を希望する４０代～５０代の方<br>
                ・勉強仲間をお探しの方<br>
                ・論理的思考能力のトレーニングをしたい方<br>
                ・文章作成能力のトレーニングをしたい方<br>
                ・既に診断士資格をお持ちの方で受験生の指導をしたい方<br>
                ・その他の方<br>
           </section>
           <section class = "blog-text">
	　　<br>　		   
	     <%= link_to image_tag('/assets/login.png', { :border => '0', :alt => 'ログイン'}), new_user_session_path ,:size =>'10x10'%>
         <%= link_to image_tag('/assets/sinup.png', { :border => '0', :alt => '新規登録'}), new_user_registration_path,:size =>'10x10' %>
 　　      
         </section>

       </div>
     </div>  
   </section>
   <div class = "sidebar">
     <section class="popular">
        <h2 class="sidebar-headline">サイトメニュー</h2>
        <div class="sidebar-contents">
          <p class="popular-text">　<%= link_to "  サイトポリシー", root_policy_path %></p>
          <p class="popular-text">　<%= link_to '  イベント', root_policy_path %></p>
          <p class="popular-text">　・新規投稿</p>
         </div>
      </section>

