<h2>背景写真とサイト名称のついて</h2>
<br>
<p>
背景に使用した学舎は、現在は廃校となっていますが、宮城県の黒川郡にある粕川小学校です。<br>
そして、このサイトの名称になっている『学びの庭』は、同校の校歌に出てくるフレーズから命名しました。
</p>
<br>
<div align="center">
<img src="/assets/kasukawa.png" width="250" height="125" alt="">
</div>
<br>
<br>
<h2>使用PDFファイル等の扱いについて</h2>
<br>
<p>
このサイトで使用しているPDFファイル等の資料は、下記より入手しています。
</p>