<h2>「学びの庭」の使い方</h2>
<br>
<h4>マイページ</h4>
<p>過去問や事例分析および掲示板に情報を登録した場合、その内容が反映されます。<br>
何も登録していない場合には、その旨がコメントされます。<br>
</p>
<br>
<h4>プロフィール</h4>
<p>    過去問や事例分析評価を行った際の信頼性情報に使用されます。<br>
有資格者や過去にA判定を取ったことのあるなど評価者のシグナリング情報になります。<br>
設定しない場合は、シグナリングされません。<br>
</p>
<br>
<h4>過去問</h4>
　STARTボタンを押すと、過去問一覧画面が表示されます。<br>
　　・作成ボタン：過去問の解答を作成し内容と登録できます。<br>
　　・実施ボタン：ボタンを押すと解答を登録した人のリストが表示されます。<br>
　　　　　　　　 ＊自分の解答を自分で評価(採点はできないため)自分の登録した解答は<br>
　　　　　　　　   リストには表示されません。<br>
　　　　　　　　   他者が作成した解答を採点したい場合、採点ボタンをクリックして<br>
　　　　　　　　   採点画面から採点を実施してください。<br>
　  ・表示ボタン：他者の採点結果に従い高得点の解答からランキング形式で結果が表示されます。<br>
　  　　　　　　　自身の評価結果を見たい場合には、評価ボタンを押すと詳細を見ることができます。<br>
<br>
<h4>事例企業分析</h4>
<br>
<h4>掲示板</h4>