<h2>「学びの庭」の使い方</h2>
<br>
<h4>マイページ</h4>
<p>過去問や事例分析および掲示板に情報を登録した場合、その内容が反映されます。<br>
何も登録していない場合には、その旨がコメントされます。<br>
</p>
<br>
<h4>プロフィール</h4>
<p>    過去問や事例分析評価を行った際の信頼性情報に使用されます。<br>
有資格者や過去にA判定を取ったことのある方の評価結果に重みつけを与えます。<br>
設定しない場合は、単純にS～Eの判定結果に割り当てられた係数×配点が得点<br>
として計算されます。<br>
新規登録、情報の更新とも”作成ボタン”を押して必要項目を入力してください。
</p>
<br>
<h4>過去問</h4>
<br>
<h4>事例企業分析</h4>
<br>
<h4>掲示板</h4>