* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}
header, nav, h2, .main-visual, .sidebar,footer {
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
} 
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

body {
    background-color: #FDFDFD;    
    
}
header {
  position: relative;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  height: 120px;
  background-color: ;
    
}
.social {
  position: absolute;
  top: 22px;
  right: 22px;
}
.social i{
 display: inline-block;
 margin-left: 20px;
}
/* クラス名headerのタグ内のh1にのみ適応される */
header .headline{
  font-size: 32px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
 
.main-visual {
  width: 100%; /* 横幅 */
  height: 300px; /* 高さ */
  background-image: url(/assets/s3.jpg);
  background-size: cover;
    background-position: center;
}

h2{
  padding:10px;
  font-size:20px;
  border:1px solid #325A8C;
  background: #325A8C;
  color:#FFF;
  box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}
.main-visual-content{
  width: 40%; /* 横幅を指定 */
  height: 300px; /* 親の高さに揃える */
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 105px;
}
.main-visual-text{
  color: #fff;
}
.main-visual-name{
  margin-top: 30px;	
  color: #fff;
}
main {
  width: 800px; /* 横幅 */
  margin: 0 auto;
  background-color: white;
  padding: 70px 0;
}
.blog {
  width: 540px;
  float: left; /* 要素を左揃えで並べる */
  margin-right: 30px;
}
.blog-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;  
}
.sidebar {
  width: 230px;
  float: left; /* 要素を左揃えで並べる */
}
.sidebar {
  width: 230px;
  float: left;
}
.sidebar-headline, .instagram-headline, .categories-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.sidebar-contents {
  padding: 50px 0;
  }
.popular-text, .categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
  }
.popular-text:last-child, .categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
  }
.instagram-box {
  float: left;
  width: 120px;
  padding-top: 100px;
  background-size: cover;
  background-position: center;
  }
.instagram-box:nth-child(odd) {
  margin: 0px 10px 10px 10px;
  }
.instagram-box:nth-child(1) {
  background-image: url(/assets/comp.gif);
  }
.instagram-box:nth-child(2) {
  background-image: url(/assets/swot.gif);
  }
.instagram-box:nth-child(3) {
  background-image: url(/assets/comp.gif);
  }
.instagram-box:nth-child(4) {
  background-image: url(/assets/comp.gif);
}

.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
} 
.blog-image {
  height: 180px;
  float: left; /* 要素を左揃えで並べる */
  height: 180px;
}
.menu {
  float: left; /* 要素を左揃えで並べる */
  height: 80px;
  width: 150px;
}

.blog-text {
  padding: 0 0 0 25px;	
  float: left; /* 要素を左揃えで並べる */
}
.blog-date{
  font-size: 12px;
  display: inline-block;
}
.blog-box{
  padding-top: 50px;
}
.blog-text-headline{
  padding-bottom: 15px;
  font-size: 15px;
}
footer {
  width: 100%;
  height: 120px; 
  text-align: center;
  padding: 50px 0;
  background-color: #848282;
}
.footer-text {
  color: #fff;
}
.pagination{
  text-align: center;
  padding-top: 50px;

}
.pagination p{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin:0 5px;
  background-color: #acabac;
  color: #fff;
  border-radius: 3px;
  line-height: 30px;
}
.fab{
 font-size: 32px;
}
/* タブレット横置き(1024px)程度の大きさ以下に適用される設定です */
@media screen and (max-width:1024px) {  
  .social i {    
    color: green;  
    }
}
 
/* タブレット縦置きサイズ(768px)程度の画面の大きさ以下に適用される設定です */
@media screen and (max-width:768px) {  
  .social i {    
    color: red;  
    }
}
 
/* スマートフォンサイズ(425px)程度の画面の大きさ以下に適用される設定です */
@media screen and (max-width:425px) {  
.social i {
    color: blue;
    }
}

.foo {
    display:table;
    table-layout:fixed;
    width:500px;
    padding-bottom: 0px;
}

ul.foo1 {
    display:table;
    table-layout:fixed;
    width:500px;
    padding-bottom: 0px;
}

ul.foo1 li {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    background-color:#5555FF;
    color :white;
    border-bottom:1px solid white;
    width:100px;
    border-left:1px solid white;
}

ul.foo2 {
    display:table;
    table-layout:fixed;
    width:500px;
    margin-bottom: 1px;
    margin-left: 1px;
}

ul.foo2 li {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    background-color:#F5F5F5;
    color :black;
    border-bottom:1px solid white;
    border-left:1px solid white;
    width:100px;
}


ul.foo1 li a {
    display:block;
    text-decoration:none;
    color:white;
}
u2.foo1 li a {
    display:block;
    text-decoration:none;
    color:white;
}
.sign {
  height: 60px;
  width: 120px;
  float: left; /* 要素を左揃えで並べる */
}
 
.button_side{
  display: inline-block;
  margin: 0 10px;
}
